#!KAMAILIO

# Define local variables
#
#!define LOCAL_IP "172.18.0.2" 
#!define LOCAL_IP_PROXY "185.83.210.134" 
#!define LOCAL_PORT 5060

#!define HTTP_API_PNS_ENDPOINT "https://172.16.15.158:4000/api/confd/1.0/pns"
#!define HTTP_API_TIMEOUT 100

#!define PREPAID_ACCOUNT 1

####### Global Parameters #########

listen=udp:LOCAL_IP:LOCAL_PORT

### LOG Levels: 3=DBG, 2=INFO, 1=NOTICE, 0=WARN, -1=ERR
debug=2
log_stderror=no
 
memdbg=5
memlog=5
 
log_facility=LOG_LOCAL0
log_prefix="{$mt $hdr(CSeq) $ci} "
 
children=4
auto_aliases=no
 
server_header="Server: Soft Switch"
user_agent_header="User-Agent: Linphone"
shm_mem_size=800
#pkg_mem_size=64

####### Modules Section ########
 
/* set paths to location of modules */
#mpath="/usr/local/lib/kamailio/modules/"

loadmodule "kex.so"
loadmodule "corex.so"
loadmodule "tm.so"
loadmodule "tmx.so"
loadmodule "sl.so"
loadmodule "rr.so"
loadmodule "pv.so"
loadmodule "maxfwd.so"
loadmodule "siputils.so"
loadmodule "xlog.so"
loadmodule "debugger.so"
loadmodule "textops.so"
loadmodule "textopsx.so"
loadmodule "ipops.so"
loadmodule "avp.so"
loadmodule "jsonrpcs.so"
loadmodule "dialog.so"
loadmodule "sdpops.so"

loadmodule "cnxcc.so"
modparam("cnxcc", "redis", "addr=172.18.0.6;port=6379;db=2")
modparam("cnxcc", "credit_check_period", 1)

loadmodule "ndb_redis.so"
modparam("ndb_redis", "server", "name=srvN;addr=172.18.0.6;port=6379;db=1")
 
# auto-discard branches from previous serial forking leg
modparam("tm", "failure_reply_mode", 3)
# default retransmission timeout: 30sec
modparam("tm", "fr_timer", 30000)
# default invite retransmission timeout after 1xx: 120sec
modparam("tm", "fr_inv_timer", 120000)
modparam("tm", "auto_inv_100", 1)
modparam("tm", "reparse_invite", 1) 

# ----- rr params -----
# set next param to 1 to add value to ;lr param (helps with some UAs)
modparam("rr", "enable_full_lr", 0)
# do not append from tag to the RR (no need for this script)
modparam("rr", "append_fromtag", 0)

# ----- debugger params -----
modparam("debugger", "cfgtrace", 0)
modparam("debugger", "log_level_name", "exec")

loadmodule "auth.so"
loadmodule "db_postgres.so"
loadmodule "auth_db.so"
modparam("auth_db", "db_url", "postgres://kamailio:kamailiorw@172.18.0.9/kamailio")
modparam("auth_db", "password_column", "password")
modparam("auth_db", "use_domain", 1)
modparam("auth", "nonce_count", 1)
modparam("auth", "qop", "auth")
modparam("auth_db", "calculate_ha1", 1)

loadmodule "usrloc.so"
modparam("usrloc", "db_url", "postgres://kamailio:kamailiorw@172.18.0.9/kamailio")
modparam("usrloc", "db_mode", 1)
modparam("usrloc", "use_domain", 1)

loadmodule "registrar.so"
modparam("registrar", "max_contacts", 1)

loadmodule "nathelper.so"
modparam("nathelper", "ping_nated_only", 1)

loadmodule "ctl.so"
modparam("ctl", "binrpc", "unix:/run/kamailio/kamailio_ctl")

loadmodule "http_async_client.so"
modparam("http_async_client", "workers", 2)
modparam("http_async_client", "curl_verbose", 1)

loadmodule "acc.so"
modparam("acc", "db_flag", 2)
modparam("acc", "db_url", "postgres://kamailio:kamailiorw@172.18.0.9/kamailio")
modparam("acc", "cdrs_table", "cdr")
modparam("acc", "cdr_enable", 1)
modparam("acc", "cdr_extra", "callid=$ci;from_uri=$fU;to_uri=$tU"
modparam("acc", "cdr_on_failed", 1) 


####### Routing Logic ########
request_route {

	if (is_method("REGISTER")) {

		if (!www_authenticate("$fd", "subscriber")) {
			www_challenge("$fd","1");
			exit;
		}	 
		
		save("location");

        	exit;
	}

	if (method==INVITE && !has_totag()){

		route(CNXCC);

		acc_db_request("$ci", "cdr");

		lookup("location");
		switch ($retcode) {
			case 1:
				$tu=$ru;
			break;

			case -1:
			case -3:                     
				sl_send_reply("404", "Not Found");
			exit;
			case -2:
				sl_send_reply("405", "Not Found");
			exit;
		};	
	}

	if (is_method("ACK|BYE")) {

		$rU=$tU;

		lookup("location");
		switch ($retcode) {
			case 1:
				$tu=$ru;
			break;

			case -1:
			case -3:                     
				sl_send_reply("404", "Not Found");
			exit;
			case -2:
				sl_send_reply("405", "Not Found");
			exit;
		};	
	}

	$rd=LOCAL_IP_PROXY;
	$rp=LOCAL_PORT;

	route(RELAY);
}

route[RELAY]{

        if (!t_relay()) {
	   sl_reply_error();
	}
        
	exit;
}

route[CNXCC]{

	redis_cmd("srvN", "DBSIZE", "r");
	$var(dbsize) = $redis(r=>value);

	$var(i) = 0;
	while ($var(i) < $var(dbsize)){

		$var(cmd) = "HGET cnxcc:" + $var(i) + " customer";
		redis_cmd("srvN", "$var(cmd)", "r");

		if ($redis(r=>value) == $fU){ 

			$var(cmd) = "HGET cnxcc:" + $var(i) + " max_time";
			redis_cmd("srvN", "$var(cmd)", "r");
			$var(max_time) = $redis(r=>value);

			cnxcc_set_max_time("$fU", $var(max_time));

			switch ($?) {
			case 1:
			    break;
			case -1:
			    xerr("Error setting up credit control");
			    sl_send_reply("503", "Internal Server Error");
			    exit;
			case -4:
			    xwarn("$ci already present for customer $fU");
			    exit;
			}

			break;
		}

		$var(i) = $var(i) + 1;
	}
}

onreply_route[1] {
    
    if(t_check_status("200")){

	    xnotice("*** 200 OK --->>> ON REPLY ROUTE *****\n");

	    #if (has_body("application/sdp")) {

		#$var(x)=$ct;
		#$var(p1)=$(var(x){s.select,1,@});
		#$var(p2)=$(var(p1){s.select,0,:});

		#fix_nated_sdp("10","$var(p2)");

		#rtpengine_answer("replace-origin replace-session-connection");
	    #}
    }
}

event_route[cnxcc:call-shutdown]
{
	xlog("L_INFO", "[$ci]: call killed");

	# update redis 
	redis_cmd("srvN", "DBSIZE", "r");
	$var(dbsize) = $redis(r=>value);

	$var(i) = 0;
	while ($var(i) < $var(dbsize)) {

		$var(cmd) = "HGET cnxcc:" + $var(i) + " customer";
		redis_cmd("srvN", "$var(cmd)", "r");

		if ($redis(r=>value) == $fU) { 

			$var(cmd) = "HSET cnxcc:" + $var(i) + " credit 0";
			redis_cmd("srvN", "$var(cmd)", "r");

			$var(cmd) = "HSET cnxcc:" + $var(i) + " max_time 0";
			redis_cmd("srvN", "$var(cmd)", "r");

			break;
		}

		$var(i) = $var(i) + 1;
	}
}

event_route[usrloc:contact-expired] {

    xlog("expired contact for $ulc(exp=>aor)\n");

    # HTTP POST request --- send http request to the FCM HTTP Server to notify expired register subscribers to re-register themselves
    $http_req(all) = $null;
    $http_req(suspend) = 0;
    $http_req(timeout) = HTTP_API_TIMEOUT;
    $http_req(method) = "POST";
    $http_req(hdr) = "Content-Type: application/json";
    $http_req(authmethod) = 1;
    $http_req(username) = "mizban";
    $http_req(password) = "password";

    $http_req(body) = "{'user':'" + $ulc(exp=>aor) + "'}";

    http_async_query(HTTP_API_PNS_ENDPOINT, "PNS_API_RESPONSE");
}

route[PNS_API_RESPONSE] {

    if ($http_ok && $http_rs == 200) {
        xlog("L_INFO","API PNS RESPONSE: $http_rb\n");
        return;
    }

    send_reply(500, "API Not Available");
    exit;
}
