#!KAMAILIO

# Define local variables
#
#!define LOCAL_IP "172.18.0.2" 
#!define LOCAL_IP_PROXY "172.18.0.7" 
#!define LOCAL_PORT 5060

####### Global Parameters #########

listen=udp:LOCAL_IP:LOCAL_PORT

### LOG Levels: 3=DBG, 2=INFO, 1=NOTICE, 0=WARN, -1=ERR
debug=2
log_stderror=no
 
memdbg=5
memlog=5
 
log_facility=LOG_LOCAL0
log_prefix="{$mt $hdr(CSeq) $ci} "
 
children=4
auto_aliases=no
 
server_header="Server: Soft Switch"
user_agent_header="User-Agent: Linphone"
shm_mem_size=800
#pkg_mem_size=64

####### Modules Section ########
 
/* set paths to location of modules */
#mpath="/usr/local/lib/kamailio/modules/"

loadmodule "kex.so"
loadmodule "corex.so"
loadmodule "tm.so"
loadmodule "tmx.so"
loadmodule "sl.so"
loadmodule "rr.so"
loadmodule "pv.so"
loadmodule "maxfwd.so"
loadmodule "siputils.so"
loadmodule "xlog.so"
loadmodule "debugger.so"
loadmodule "textops.so"
loadmodule "textopsx.so"
loadmodule "ipops.so"
loadmodule "avp.so"
loadmodule "jsonrpcs.so"
loadmodule "dialog.so"
 
# auto-discard branches from previous serial forking leg
modparam("tm", "failure_reply_mode", 3)
# default retransmission timeout: 30sec
modparam("tm", "fr_timer", 30000)
# default invite retransmission timeout after 1xx: 120sec
modparam("tm", "fr_inv_timer", 120000)
modparam("tm", "auto_inv_100", 1)
modparam("tm", "reparse_invite", 1) 

# ----- rr params -----
# set next param to 1 to add value to ;lr param (helps with some UAs)
modparam("rr", "enable_full_lr", 0)
# do not append from tag to the RR (no need for this script)
modparam("rr", "append_fromtag", 0)

# ----- debugger params -----
modparam("debugger", "cfgtrace", 0)
modparam("debugger", "log_level_name", "exec")

loadmodule "auth.so"
loadmodule "db_postgres.so"
loadmodule "auth_db.so"
modparam("auth_db", "db_url", "postgres://kamailio:kamailiorw@172.18.0.9/kamailio")
modparam("auth_db", "password_column", "password")
modparam("auth_db", "use_domain", 1)
modparam("auth", "nonce_count", 1)
modparam("auth", "qop", "auth")
modparam("auth_db", "calculate_ha1", 1)

loadmodule "usrloc.so"
modparam("usrloc", "db_url", "postgres://kamailio:kamailiorw@172.18.0.9/kamailio")
modparam("usrloc", "db_mode", 1)
modparam("usrloc", "use_domain", 1)

loadmodule "registrar.so"

loadmodule "ctl.so"
modparam("ctl", "binrpc", "unix:/run/kamailio/kamailio_ctl")


####### Routing Logic ########
request_route {
	if (is_method("REGISTER")) {
		if (!www_authenticate("$fd", "subscriber")) {
			www_challenge("$fd","1");
			exit;
		}	 
		
		save("location");

		exit;
	}

	if (is_method("INVITE")) {
		lookup("location");
		switch ($retcode) {
                case 1:
			dlg_manage();
			$dlg_var(callee)=$rd;

                        $td=$dlg_var(callee);
			$rd=LOCAL_IP_PROXY;
		break;

	        case -1:
		case -3:                     
			sl_send_reply("404", "Not Found");
        	exit;
    		case -2:
			sl_send_reply("405", "Not Found");
        	exit;
		};	
	}

	if (is_method("ACK|BYE")) {
		$td=$dlg_var(callee);
		$rd=LOCAL_IP_PROXY;
	}

	route(RELAY);
}

route[RELAY]{
        if (!t_relay()) {
	   sl_reply_error();
	}
        
	exit;
}

