[Unit]
Description=Service that keeps running the service-Billing from startup.
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=/home/service-Billing/service-Billing
WorkingDirectory=/home/service-Billing/
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n
